<h3> Log In </h3>


<%= form_for (@user), url: login_path, method: 'post' do |f| %>

<%= f.label :username %>
<%= f.collection_select(:username, User.all.order(:username), :username, :username) %> <br><br>

<%= f.label :email %>
<%= f.text_field :email, placeholder: "email" %> <br><br>

<%= f.label :password %>
<%= f.password_field :password, placeholder: "password" %> <br><br>


<%= f.submit "Log In" %> <br><br>

<% end %><br>

<%= link_to('Log in with Github!', '/auth/github') %> <br><br>
