<h3> Registration Form </h3>



<%= form_for @user do |f| %>


<div class = "field_with_errors">
  <input type= "text"name= "user[username]"id="user_username"
  value= "Error Try Again"/>
</div>

<%= f.label :username %> <br>
<%= f.text_field :username %> <br><br>

<%= f.label :insurer %> <%= '(Check if you are an Insurer)' %> <br>
<%= f.check_box :insurer %> <br><br>

<%= f.label :password %> <br>
<%= f.password_field :password %> <br> <br>

<%= f.label :password_confirmation %> <br>
<%= f.password_field :password_confirmation %> <br>

<%= f.submit %> <br> <br>


<% end %>
