<h2> Company: <%= @user.username %> </h2>

<labe> Are you an insurer? <%=@user.insurer ? "Yes" : "No" %> </label> <br><br>


<%= link_to "Edit", edit_user_path %> <br> <br>


<%= link_to "All Users", users_path %> <br><br>

<%= link_to "Log Out", logout_path, {method: :delete}%><br> <br>

<%= link_to "Create a New Credit", new_user_credit_path %>
