<h2> Company: <%= @user.username %> </h2>

<label> Are you an insurer? <%=@user.insurer ? "Yes" : "No" %> </label> <br><br>

<label> Number of Credits in Portfolio: </label> <%= @user.credits.count %> <br><br>

<label> Number of Transactions in Portfolio: </label> <%= @user.transactions.count %>

  <h4 style = "color:red;">
  	<%= flash[:notice] %> </h4><br><br>


<%= link_to_if(current_user.id == @user.id, "Edit", edit_user_path){} %> <br> <br>

 <%= link_to_if(current_user.id == @user.id, "To Add a Credit to Your Portfolio Select an Existing Credit or Create a New Credit", new_user_credit_path(@user)){} %> <br><br>
