<h2> Company: <%= @user.username %> </h2>

<label> Are you an insurer? <%=@user.insurer ? "Yes" : "No" %> </label> <br><br>

<label> Number of Credits in Portfolio: </label> <%= @user.credits.count %> <br><br>

<label> Number of Transactions in Portfolio: </label> <%= @user.transactions.count %><br><br>

<% exp = @user.exposures.sort_by {|exposure| exposure.t_sum}.last %>

<% if exp.blank? %>
<h4> <%= "No Exposures Created Yet" %> <h4>

<% else %>

<table class = "table">
  <caption> <h3> Top Exposure By Par</h3> </caption>
<thead>
  <tr>
    <th> Name </th>
    <th> Sector </th>
    <th> Ext. Rating </th>
    <th> State </th>
    <th> Limit </th>
    <th> Total Par </th>
    <th> Violation </th>
  </tr>
</thead>

<tbody>
<tr>
  <td> <%= exp.credit.credit_name %> </td>
  <td> <%= exp.credit.sector %> </td>
  <td> <%= exp.credit.rating %> </td>
  <td> <%= exp.credit.state %> </td>
  <td> <%= exp.limit %> </td>
  <td> <%= exp.t_sum %> </td>
  <td><v> <%= display_violations(exp) %></v> </td>

</tr>
<% end %>
</tbody>
</table>



  <h4 style = "color:red;">
  	<%= flash[:notice] %> </h4><br><br>


<%= link_to_if(current_user.id == @user.id, "Edit", edit_user_path){} %> <br> <br>

 <%= link_to_if(current_user.id == @user.id, "Submit Existing or Create New Credit",new_user_credit_path(@user)){} %> <br><br>
