<h5> All Exposures </h5>


<table class = "table">
<thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>

  <tr>
    <td> Company </td>
    <td> Credit </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>
    <td> Limit </td>

  </tr>

<% @exposures.order(:user_id).each do |exposure| %>
<tr>

  <td> <%= link_to exposure.user.username, exposure_path(exposure) %> </td>
  <td> <%= exposure.credit.credit_name %> </td>
  <td> <%= exposure.credit.sector %> </td>
  <td> <%= exposure.credit.rating %> </td>
  <td> <%= exposure.credit.state %> </td>
  <td> <%= exposure.limit %> </td>

</tr>

<% end %>
</tbody>
</table>
<br>

<%= link_to "All Credits", credits_path %>
