
<table class = "table">

<caption> <h3> All Exposures </h3> </caption>

  <thead>
    <tr>
    <th> ID </th>
    <th> Company </th>
    <th> Credit </th>
    <th> Sector </th>
    <th> State </th>
    <th> Co. Rating </th>
    <th> Ext. Rating </th>
    <th> Limit </th>
    <th> Par </th>
    <th> Violation </th>
  </tr>
  </thead>
<% @exposures.order(:user_id).each do |exposure| %>
  <tbody>
<tr>
  <td> <%= exposure.id %> </td>
  <td> <%= link_to exposure.user.username, exposure_path(exposure) %> </td>
  <td> <%= exposure.credit.credit_name %> </td>
  <td> <%= exposure.credit.sector %> </td>
  <td> <%= exposure.credit.state %> </td>
  <td> <%= exposure.rating %> </td>
  <td> <%= exposure.credit.rating %> </td>
  <td> <%= exposure.limit %> </td>
  <td> <%= exposure.t_sum %> </td>
  <td><v> <%= display_violations(exposure) %></v> </td>
</tr>
<% end %>

</tbody>
</table>
<br>


<button id = "data-button">Get Exposure Data</button>
<table id= "exposure-data">
</table>


<!-- <table>
  <caption> <h4> AJAX Response </h4> </caption>
    <thead>
      <tr>
      <th>Company</th>
      <th>Credit Name</th>
      <th>Credit Sector</th>
      <th>Credit State</th>
      <th>Credit Rating</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td id="company"></td>
        <td id="creditName"></td>
        <td id="creditSector"></td>
        <td id="creditState"></td>
        <td id="creditRating"></td>
      </tr>
    </tbody>
  </table> -->
