<h5> All Exposures </h5>




<table class = "table">


<tbody>

  <tr>
    <td> Exposure ID </td>
    <td> Company </td>
    <td> Credit </td>
    <td> Sector </td>
    <td> State </td>
    <td> Co. Rating </td>
    <td> Ext. Rating </td>
    <td> Limit </td>
    <td> Par </td>
    <td> Violation </td>
  </tr>

<% @exposures.order(:user_id).each do |exposure| %>
<tr>
  <td> <%= exposure.id %> </td>
  <td> <%= link_to exposure.user.username, exposure_path(exposure) %> </td>
  <td> <%= exposure.credit.credit_name %> </td>
  <td> <%= exposure.credit.sector %> </td>
  <td> <%= exposure.credit.state %> </td>
  <td> <%= exposure.rating %> </td>
  <td> <%= exposure.credit.rating %> </td>
  <td> <%= exposure.limit %> </td>
  <td> <%= exposure.t_sum %> </td>
  <td><v> <%= display_violations(exposure) %></v> </td>

</tr>

<% end %>


</tbody>
</table>
<br>
