
<h4> <%= link_to "Company: #{current_user.username}", user_path(current_user) %> </h4>

<h5> Exposure: <%= @exposure.user.username %> -- <%= @exposure.credit.credit_name %>  </h5>


<h4 style = "color:red;">
	<%= flash[:message] %> </h4><br><br>



<table class = "table">


<tbody>

  <tr>
    <td> Company </td>
    <td> Credit </td>
    <td> Sector </td>
		<td> State </td>
		<td> Co. Rating </td>
    <td> Ext. Rating </td>
    <td> Limit </td>
    <td> Total Par </td>
		<td> Violation </td>

  </tr>

<tr>
  <td> <%= @exposure.user.username %> </td>
  <td> <%= @exposure.credit.credit_name %> </td>
  <td> <%= @exposure.credit.sector %> </td>
	<td> <%= @exposure.credit.state %> </td>
	<td> <%= @exposure.rating %> </td>
  <td> <%= @exposure.credit.rating %> </td>
  <td> <%= @exposure.limit %> </td>
  <td> <%= @exposure.t_sum %> </td>
	<td> <v> <%= display_violations(@exposure) %> </v></td>



</tr>

</tr>
</tbody>
</table>
<br>


<table class = "table">

<tbody>

  <tr>
    <td> Transaction </td>
    <td> Series </td>
    <td> Par </td>


  </tr>
    <% @exposure.transactions.order("par DESC").each do |transaction| %>
<tr>
		<td> <%= link_to transaction.name, exposure_transaction_path(@exposure,transaction) %> </td>
    <td> <%= transaction.series %> </td>
    <td> <%= transaction.par %> </td>

  <% end %>

</tr>

</tr>
</tbody>
</table>
<br><br><br>

<%= link_to_if(current_user.id == @exposure.user_id,  "Edit Exposure", edit_exposure_path){} %><br><br>

<%= link_to_if(current_user.id == @exposure.user_id, "AJAX - Add New Transaction", new_exposure_transaction_path(@exposure), id:'new-transaction-form'){} %> <br><br>
<!-- <button id = "ajax-new-transaction"><strong> AJAX - Add New Transaction </strong> </button><br> -->
<div id ='ajax-transaction-form'>[form] </div><br>


<%= form_tag exposure_path(@exposure.id), method: "delete" %>
<%= submit_tag "Delete Exposure" %><br><br>
