<h5> Exposures Show Page </h5>

<table class = "table">
<thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>

  <tr>
    <td> Company </td>
    <td> Credit </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>
    <td> Limit </td>
    <td> Transaction </td>
    <td> Series </td>
    <td> Par </td>

  </tr>

<tr>

  <td> <%= @exposure.user.username %> </td>
  <td> <%= @exposure.credit.credit_name %> </td>
  <td> <%= @exposure.credit.sector %> </td>
  <td> <%= @exposure.credit.rating %> </td>
  <td> <%= @exposure.credit.state %> </td>
  <td> <%= @exposure.limit %> </td>

  <% @exposure.transactions.each do |transaction| %>
  
    <td> <%= transaction.name %> </td>
    <td> <%= transaction.series %> </td>
    <td> <%= transaction.par %> </td>
  <% end %>

</tr>

</tr>
</tbody>
</table>
<br>



<%= link_to "Change Exposure Limit", edit_exposure_path %><br><br>
<%= link_to "All Exposures", exposures_path %> <br><br>
<%= link_to "#{current_user.username} Credits", credits_path %><br><br>

<%= form_tag exposure_path(@exposure.id), method: "delete" %>
<%= submit_tag "Delete #{@exposure.user.username} #{@exposure.credit.credit_name}" %><br><br>
