<h4> Company: <%= current_user.username %> </h4>

<h5> Exposure: <%= @exposure.user.username %> -- <%= @exposure.credit.credit_name %>  </h5>

<h4 style = "color:red;">
	<%= flash[:message] %> </h4><br><br>



<table class = "table">


<tbody>

  <tr>
		<td> Exposure ID </td>
    <td> Company </td>
    <td> Credit </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>
    <td> Limit </td>
    <td> Total Par </td>
		<td> Violation </td>

  </tr>

<tr>
	<td> <%= @exposure.id %> </td>
  <td> <%= @exposure.user.username %> </td>
  <td> <%= @exposure.credit.credit_name %> </td>
  <td> <%= @exposure.credit.sector %> </td>
  <td> <%= @exposure.credit.rating %> </td>
  <td> <%= @exposure.credit.state %> </td>
  <td> <%= @exposure.limit %> </td>
  <td> <%= @exposure.t_sum %> </td>
	<td> <%= display_violations(@exposure) %> </td>



</tr>

</tr>
</tbody>
</table>
<br>


<table class = "table">

<tbody>

  <tr>
		 <td> Trans ID </td>
    <td> Transaction </td>
    <td> Series </td>
    <td> Par </td>


  </tr>
    <% @exposure.transactions.each do |transaction| %>
<tr>
		<td> <%= transaction.id %> </td>
    <td> <%= link_to transaction.name, exposure_transaction_path(@exposure, transaction) %> </td>
    <td> <%= transaction.series %> </td>
    <td> <%= transaction.par %> </td>

  <% end %>

</tr>

</tr>
</tbody>
</table>
<br><br><br>

<%= link_to_if(current_user.id == @exposure.user_id,  "Change Exposure Limit", edit_exposure_path){} %><br><br>
<%= link_to_if(current_user.id == @exposure.user_id, "Add New Transaction", new_exposure_transaction_path(@exposure)){} %> <br><br>




<%= form_tag exposure_path(@exposure.id), method: "delete" %>
<%= submit_tag "Delete Exposure" %><br><br>
