<% if @credit.errors.any? %>
 <div id= "error_explanation ">
   <ul>
     <% @credit.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>
     <% end %>
   </ul>
  </div>
<% end %>


<%= form_for [@user, @credit] do |f| %>

    <%= f.label :existing_credit %>
    <%= f.collection_select(:id, Credit.all.order(:credit_name), :id, :credit_name, {include_blank: true}) %><br><br>

    <%= f.label :credit_name %>
    <%= f.text_field :credit_name %> <br><br>

    <%= f.label :sector %>
    <%= f.select(:sector, Credit::CREDIT_SECTOR)%><br><br>

    <%= f.label :external_rating %>
    <%= f.select(:rating, ApplicationRecord::RATING)%><br><br>

    <%= f.label :state %>
    <%= f.select(:state, Credit::CREDIT_STATE) %> <br><br>

    <%= f.submit "Submit Existing or Create New Credit"%>

<% end %><br> <br>


<table>
  <caption> <h4> AJAX Response </h4> </caption>
    <thead>
      <tr>
      <th>Credit Name</th>
      <th>Sector</th>
      <th>Rating</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td id="creditName"></td>
        <td id="creditSector"></td>
        <td id="creditRating"></td>
        <td id="creditState">
      </tr>
    </tbody>
  </table>
