<h4 style = "color:red;">
	<%= flash[:notice] %> </h4><br><br>

<%= form_for @credit do |f| %>

<%= f.label :credit_name %>
<%= f.text_field :credit_name %> <br><br>

<%= f.label :sector %>
<%= f.select(:sector, Credit::CREDIT_SECTOR)%><br><br>

<%= f.label :rating %>
<%= f.select(:rating, Credit::CREDIT_RATING)%><br><br>

<%= f.label :state %>
<%= f.select(:state, Credit::CREDIT_STATE) %> <br><br>


<%= f.submit %>

<% end %>
