<% if @credit.errors.any? %>
 <div id= "error_explanation ">
   <ul>
     <% @credit.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>
     <% end %>
   </div>
   <% end %>

<%= form_for @credit do |f| %>

<%= f.label :credit_name %>
<%= f.collection_select(:id, Credit.all.order(:credit_name), :credit_name, :credit_name,{include_blank: true}) %><br><br>
<%= f.submit "Add Existing Credit"%>

<% end %><br><br>



<%= form_for @credit do |f| %>


<%= f.label :credit_name %>
<%= f.text_field :credit_name %> <br><br>

<%= f.label :sector %>
<%= f.select(:sector, Credit::CREDIT_SECTOR)%><br><br>

<%= f.label :rating %>
<%= f.select(:rating, Credit::CREDIT_RATING)%><br><br>

<%= f.label :state %>
<%= f.select(:state, Credit::CREDIT_STATE) %> <br><br>


<%= f.submit %>

<% end %>
