</tbody>
</table>
<br>


<table class = "table">

<h4> All Credits By State </h4>

<tbody>

<h5> Select State: <%= select_state %> </h5>


  <tr>
    <td> Credit ID </td>
    <td> Name </td>
    <td> Sector </td>
    <td> State </td>
  </tr>

<% Credit.pick_state(select_state).each do |credit| %>

  <tr>
  <td> <%= credit.id %> </td>
  <td> <%= link_to credit.credit_name, credit_path(credit) %> </td>
  <td> <%= credit.sector %> </td>
  <td> <%= credit.state %> </td>

</tr>
  <% end %>
  </tbody>
  </table>
  <br><br><br>
