</tbody>
</table>
<br>


<table class = "table">

<h4> All Credits By State </h4>

<tbody>

Select State: <%=  form_tag({}, {:method => :get}) do  %>
                   <%= select_state %> ---  <%= submit_tag "Submit"%><br><br>     
                   <% end %><br>


    <td> Credit ID </td>
    <td> Name </td>
    <td> Sector </td>
    <td> State </td>
  </tr>

<% @credits.each do |credit| %>

  <tr>
  <td> <%= credit.id %> </td>
  <td> <%= link_to credit.credit_name, credit_path(credit) %> </td>
  <td> <%= credit.sector %> </td>
  <td> <%= credit.state %> </td>

</tr>
  <% end %>
  </tbody>
  </table>
  <br><br><br>
