<h4> <%= current_user.username%> Credits</h4><br>

<table class = "table">


<tbody>

  <tr>
    <td> Credit ID </td>
    <td> Name </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>

  </tr>

<% current_user.credits.order("credit_name").each do |credit| %>
<tr>
  <td> <%= credit.id %> </td>
  <td> <%= link_to credit.credit_name, credit_path(credit) %> </td>
  <td> <%= credit.sector %> </td>
  <td> <%= credit.rating %> </td>
  <td> <%= credit.state %> </td>

</tr>

<% end %>
</tbody>
</table>
<br>

<%= link_to "To Add A Credit to Your Portfolio Select an Existing Credit or Create a New Credit", new_user_credit_path(@user) %> <br><br><br>
