

<table class = "table">
<caption> <h4> <%= "#{current_user.username} Credits" %> </h4> </caption>

<thead>

  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Sector </th>
    <th> Ext. Rating </th>
    <th> State </th>
  </tr>
</thead>
<% @credits.order("credit_name").each do |credit| %>
<tbody>
<tr>
  <td> <%= credit.id %> </td>
  <td> <%= link_to credit.credit_name, credit_path(credit) %> </td>
  <td> <%= credit.sector %> </td>
  <td> <%= credit.rating %> </td>
  <td> <%= credit.state %> </td>
</tr>
<% end %>
</tbody>
</table>
<br>



<%= link_to "Add Existing Credit to Portfolio or Create a New Credit", new_user_credit_path(@user), id:"new-credit-form" %> <br><br><br>

<div id='ajax-credit-form'>
  <table>
    <caption> <h4> AJAX Response </h4> </caption>
      <thead>
        <tr>
        <th>Credit Name</th>
        <th>Sector</th>
        <th>External Rating</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td id="creditName"></td>
          <td id="creditSector"></td>
          <td id="creditRating"></td>
          <td id="creditState">
        </tr>
      </tbody>
    </table>
    <h3> we are here</h3>
</div>
