<h4> Company: <%= current_user.username %> </h4>

<h4 style = "color:red;">
	<%= flash[:message] %> </h4><br><br>

<table class = "table">


<tbody>

  <tr>
    <td> Name </td>
    <td> Sector </td>
    <td> Ext. Rating </td>
    <td> State </td>

  </tr>

<tr>
  <td> <%=@credit.credit_name %> </td>
  <td> <%=@credit.sector %> </td>
  <td> <%=@credit.rating %> </td>
  <td> <%=@credit.state %> </td>


</tr>
</tbody>
</table>
<br>

<!-- <%= form_tag credit_path(@credit.id), method: "delete" %>
<%= submit_tag "Delete #{@credit.credit_name}" %> <br><br> -->


<%= link_to "Edit", edit_credit_path(@credit) %> <br> <br>
