
<label> New Credit for <%=current_user.username%> </label><br><br>

<table class = "table">
<thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>

  <tr>
    <td> Name </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>
    <td> Company ID </td>

  </tr>

<tr>
  <td> <%=@credit.credit_name %> </td>
  <td> <%=@credit.sector %> </td>
  <td> <%=@credit.rating %> </td>
  <td> <%=@credit.state %> </td>
  <td> <%= @exposure.user.id%> </td>

</tr>
</tbody>
</table>
<br>


<label> All Credits </label> <br><br>

<table class = "table">
<thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>

  <tr>
    <td> Name </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>

  </tr>
<% current_user.credits.each do |credit| %>
<tr>
  <td> <%=@credit.credit_name %> </td>
  <td> <%=@credit.sector %> </td>
  <td> <%=@credit.rating %> </td>
  <td> <%=@credit.state %> </td>
</tr>
<% end %>
</tbody>
</table>
<br>

 <%= link_to "All Credits By This Company", credits_path %>
