
<label> You are looking at <%=current_user.username%>'s Portfolio </label><br><br>

<table class = "table">
<thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>

  <tr>
    <td> Name </td>
    <td> Sector </td>
    <td> Rating </td>
    <td> State </td>
    <td> Company ID </td>

  </tr>

<tr>
  <td> <%=@credit.credit_name %> </td>
  <td> <%=@credit.sector %> </td>
  <td> <%=@credit.rating %> </td>
  <td> <%=@credit.state %> </td>
  <td> <%= @exposure.user.id%> </td>

</tr>
</tbody>
</table>
<br>

<%= form_tag credit_path(@credit.id), method: "delete" %>
<%= submit_tag "Delete #{@credit.credit_name}" %> <br><br>

<%= link_to "All #{@user.username} Credits", credits_path %> <br><br>

<%= link_to "Edit", edit_user_credit_path(@credit) %> <br> <br>
