

<h4 style = "color:red;">
	<%= flash[:message] %> </h4><br><br>

<table class = "table">
<caption> <h4> <%= link_to "Company: #{current_user.username}", user_path(current_user) %> </h4></caption>

<thead>
  <tr>
    <th> Name </th>
    <th> Sector </th>
    <th> Ext. Rating </th>
    <th> State </th>
  </tr>
</thead>
<tr>
  <td> <%=@credit.credit_name %> </td>
  <td> <%=@credit.sector %> </td>
  <td> <%=@credit.rating %> </td>
  <td> <%=@credit.state %> </td>
</tr>
</tbody>
</table>
<br>

<!-- <%= form_tag credit_path(@credit.id), method: "delete" %>
<%= submit_tag "Delete #{@credit.credit_name}" %> <br><br> -->


<%= link_to "Edit", edit_credit_path(@credit) %> <br> <br>
