<% if @transaction.errors.any? %>
 <div id= "error_explanation ">
   <ul>
     <% @transaction.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>
     <% end %>
   </ul>
 </div>
<% end %>

<h4 style = "color:red;">
	<%= flash[:notice] %> </h4><br><br>


 <label> Exposure: <%= @exposure.user.username %> -- <%= @exposure.credit.credit_name %> </label>
<br><br><br>


<%= form_for [@exposure, @transaction] do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br><br>

<%= f.label :series %>
<%= f.text_field :series %><br><br>

<%= f.label :par %>
<%= f.text_field :par %> <br><br>

<%= f.submit %>

<% end %><br><br>
