
<% if @transaction.errors.any? %>
 <div id= "error_explanation ">
   <ul>
     <% @transaction.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>
     <% end %>
   </ul>
 </div>
<% end %>

<h4 style = "color:red;">
	<%= flash[:notice] %> </h4><br><br>


 <label> Exposure: <%= @exposure.user.username %> -- <%= @exposure.credit.credit_name %> </label>
<br><br><br>


<%= form_for [@exposure, @transaction] do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br><br>

<%= f.label :series %>
<%= f.text_field :series %><br><br>

<%= f.label :par %>
<%= f.text_field :par %> <br><br>

<%= f.submit %>

<% end %><br><br>

<table>
  <caption> <h4> AJAX Response </h4> </caption>
    <thead>
      <tr>
      <th>Transaction Name</th>
      <th>Series</th>
      <th>Par</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td id="transactionName"></td>
        <td id="transactionSeries"></td>
        <td id="transactionPar"></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript" charset="utf-8">
    $(function (){
      $('form').submit(function(event) {
        event.preventDefault();

          let absoluteUrl = window.location.pathname;
          let relativeUrl = absoluteUrl.slice(0,-4);
          const inputs = $(this).serialize();

          // need to abstract exposure_id in path
          const addTransaction = $.post(relativeUrl, inputs);

          addTransaction.done(function(data) {
            let transaction = data;
            $("#transactionName").text(transaction.data.attributes["name"]);
            $("#transactionSeries").text(transaction.data.attributes["series"]);
            $("#transactionPar").text(transaction.data.attributes["par"]);

          });
        });
      });
    </script>
