
<table class = "table">
<caption> <h3> Top 10 Transactions By Descending Par For All Companies </h3></caption>
<thead>

  <tr>
    <td> ID </th>
    <th> Transaction </th>
    <th> Series </th>
    <th> Par </th>
    <th> Company </th>
  </tr>
</thead>
    <% Transaction.trans_top_ten.each do |transaction| %>
    <tbody>
<tr>
    <td> <%= transaction.id %> </td>
    <td> <%= link_to transaction.name, exposure_transaction_path(transaction.exposure_id, transaction) %> </td>
    <td> <%= transaction.series %> </td>
    <td> <%= transaction.par %> </td>
    <td> <%= transaction.exposure.user.username %> </td>
</tr>
  <% end %>

</tbody>
</table>
<br><br><br>
