<h5> Top 10 Transactions By Descending Par For All Companies</h5>


<table class = "table">

<tbody>

  <tr>
		 <td> Trans ID </td>
    <td> Transaction </td>
    <td> Series </td>
    <td> Par </td>
    <td> Company </td>


  </tr>
    <% Transaction.trans_top_ten.each do |transaction| %>
<tr>
		<td> <%= transaction.id %> </td>
    <td> <%= link_to transaction.name, exposure_transaction_path(transaction.exposure_id, transaction) %> </td>
    <td> <%= transaction.series %> </td>
    <td> <%= transaction.par %> </td>
    <td> <%= transaction.exposure.user.username %> </td>

  <% end %>

</tr>


</tbody>
</table>
<br><br><br>
