<h5> Transaction for:   </h5>


<h5> Create a New Transaction </h5>

<%= form_for @transaction do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br><br>

<%= f.label :series %>
<%= f.text_field :series %><br><br>

<%= f.label :par %>
<%= f.text_field :par %> <br><br>

<%= f.submit %>

<% end %>
